<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wellplayed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wellplayed"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wellplayed_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellPlayed"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PeticionesEquipo"
            android:exported="false" />
        <activity
            android:name=".UsuariosAdapter"
            android:exported="false" />
        <activity
            android:name=".LogosAdpater"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Logos"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addJuego"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnirseEquipoAdapter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unirseEquipo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Informacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cuenta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crearEquipo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JuegosAdapter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JuegosDetalle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".perfilFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Registro"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipoDetalle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>